body {
    background-color: steelblue;

}

h1 {
    font-size: 100;
    color: blue;
    
}

h2 {
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(122, 119, 119);

}

/* h3 {
    color: blueviolet;
    text-decoration-line:overline;
    text-decoration-style:dashed;
    text-decoration-color: rgb(231, 12, 30);

} */

.fish-fact {
    font-style: italic;
    display: flex;

}

/* .fish-container {
    display: flex;
    flex-direction: column;
} */

.fish-image {
    height: 100px;
    width: 150px;
    float: left;
    padding-right: 8mm;

}

.travel-tips {
    border:skyblue solid;
    
}

.havest-location {
    text-shadow: darkgreen;
    text-justify: auto;
    text-align: center;
    border:skyblue solid;

}

ul.martin-tip-ul {
    list-style-type: "🔔";
    /* padding-left: 1em; */
    text-indent: 1em;

}

ul {
    list-style-type: "►";
    text-indent: 1em;

}

.maintenance-tip {
    font-weight: bold   ;

}

.column-1 {
    float: left;
    padding-right: 150px;
    flex-direction: column;

}

.column-2 {
    float: left;
    padding-right: 180px;
    padding-top: 80px;

}

.column-3 {
    /* float: left; */
    padding-top: 80px;

}