/* Applied to every elements
* {

} */

/* Applied blur background-image

body, html {
    height: 100%;
  }

.bg-image {
    background-image: url("/images/ocean.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    /* background:whitesmoke; */
    background-image: url("/images/ocean.jpg");
    background-size: cover;
}

header {
    color: red;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0.5cm;
    border: oldlace;
}

hr {
    width: 70%;
    height: 3px;
    background-color: oldlace;
    color:red;
}

h2 {
    color: blue;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(122, 119, 119);
    margin: 3mm;
}

.fish-fact {
    font-style: italic;
    display: flex;
    margin: 5mm;
}

.fish-list-pro {
    font-style: normal;
    color: rgb(236, 96, 124);
}

.fish-image {
    height: 100px;
    width: 150px;
    /* float: left; */
    padding-right: 8mm;
    margin-left: 5mm;
    margin-right: -8mm;
}

.travel-tips {
    border:skyblue solid;
    margin: 5mm;  
}

.havest-location {
    text-shadow: darkgreen;
    text-justify: auto;
    text-align: center;
    border:skyblue solid;
    margin: 5mm;
}

ul {
    list-style-type: "►";
    text-indent: 1em;
}

ul.martin-tip-ul {
    list-style-type: "🔔";
    /* padding-left: 1em; */
    text-indent: 1em;
}

ol {
    font-weight: bold;
    margin: 5mm;
    list-style-type: upper-roman;
    text-align: justify; 
}

.column-1 {
    float: left;
    /* padding-right: 50px; */
    margin-right: 2cm;
    margin-top: 0.5cm;
    width: fit-content;
    flex-direction: column;
    border: oldlace;
    border-width: 5px;
    border-style: solid;
}

.column-2 {
    float: left;
    margin-right: 2cm;
    margin-top: 0.5cm;
    width: fit-content;
    border: oldlace;
    border-width: 5px;
    border-style: solid;
}

.column-3 {
    float: left;
    width: fit-content;
    margin-top: 0.5cm;
    border: oldlace;
    border-width: 5px;
    border-style: solid;
}



